<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$pageTitle}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{:C('RES_DOMAIN')}__CSS__/font-awesome.css" rel="stylesheet" />
    <link href="{:C('RES_DOMAIN')}__CSS__/basic.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{:C('RES_DOMAIN')}__CSS__/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{:C('RES_DOMAIN')}__CSS__/main.css" />
    <link href="{:C('RES_DOMAIN')}__CSS__/common.css" rel="stylesheet" />
    <link href="{:C('RES_DOMAIN')}__CSS__/datepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="{:C('RES_DOMAIN')}__JS__/jquery.js"></script>
<script src="{:C('RES_DOMAIN')}__JS__/jquery-1.8.3.min.js"></script>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="{:C('RES_DOMAIN')}__JS__/jquery.metisMenu.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{:C('RES_DOMAIN')}__JS__/jquery-ui-datepicker.js"></script>
</head>
<body>
{__CONTENT__}
</body>
</html>