
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    BASIC  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
}

#wrapper {
    width: 100%;
    background: #202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff!important;
    padding: 10px;
    min-height: 1200px;
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #00CA79;
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed #00CA79;

}


/*==============================================
    MENU STYLES    
    =============================================*/


.navbar-cls-top .navbar-brand {
    color: #fff;
    text-align: center;
    height: 75px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 25px;
    text-transform:uppercase;
}

.header-right {
    color: #fff;
    padding: 15px 50px 5px 50px;
    float: right;
    font-size: 16px;
}

.navbar-cls-top .navbar-brand:hover {
    color: #fff;
}

.user-img-div {
    min-height: 140px;
    padding: 20px;
    background-color: #4380B8;
}

    .user-img-div img {
        max-height: 60px;
    }

    .user-img-div .inner-text {
        text-align: right;
        position: relative;
        color: #fff;
        font-weight: 800;
        line-height: 25px;
    }

.active-menu {
    background-color: #00CA79!important;
}
.active-menu-top {
    background-color: #000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}



    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
    border-right: 1px solid #ccc;
}

    .sidebar-collapse .nav {
        padding: 0;
    }

    .sidebar-collapse .nav  li a {
        color: #333;
        background: #fff;
        text-shadow: none;
        padding: 15px 40px;
        border-bottom: 1px solid #ccc;
    }

.sidebar-collapse .nav-third li a {
    padding-left: 65px;
}
    .sidebar-collapse > .nav > li > a {
        padding: 15px 10px;
    }
    .sidebar-collapse .nav > li > a.active-menu{
        color: #fff;
    }
    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus {
        background: #00CA79;
        outline: 0;
    }


.nav.nav-second-level{
    border-right:none;
}
.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #202020;
}

.navbar-cls-top {
    border-bottom: none;
}


.navbar-default {
    border: 0px solid black;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #00CA79;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

.nav > li > a > i {
    margin-right: 10px;
}
.breadcrumb {
    line-height: 30px;
    height: 46px;
    padding-left: 20px;
    overflow: hidden;
    margin-bottom: 0px;
}

/*==============================================
    MEDIA QUERIES
    =============================================*/

@media (min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
    }


    .navbar-side {
        z-index: 1;
       padding: 0;
    }

    .navbar {
        border-radius: 0px;
    }
}

.form-horizontal .control-label{
    text-align: left;
}
/*datepicker*/
.demo h4{height:32px; line-height:32px; font-size:14px}
.demo h4 span{font-weight:500; font-size:12px}
.demo p{line-height:28px;}
input{ height:20px; line-height:20px; padding:2px; border:1px solid #d3d3d3}
.ui-datepicker-trigger{
    display: inline;
    width: 8%;
}
.error{
    color:red;
}
.radio{
    margin-left: 25px;
}
