<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$pageTitle}</title>
<script type="text/javascript" src="{:C('RES_DOMAIN')}__JS__/jquery.js"></script>
<script type="text/javascript" src="{:C('RES_DOMAIN')}__JS__/common.js"></script>
<script type="text/javascript" src="{:C('RES_DOMAIN')}__JS__/msDialog.js"></script>
<link rel="stylesheet" href="{:C('RES_DOMAIN')}__CSS__/common.css" type="text/css"/>
<link rel="stylesheet" href="{:C('RES_DOMAIN')}__CSS__/main.css" type="text/css"/>
</head>
<body>
<form id="loginForm">
	<input name="member_name" placeholder="请输入用户名" type="text" maxlength="32">
	<input name="password" placeholder="请输入密码" type="password" maxlength="50">
	<div class="bmit">
		<input  name="" type="button" id="btnLogin"  value=" 登 录 ">
	</div>
</form>
<script>
//自动跳转
function callback(){
    location.href = '/';
}
$('#btnLogin').click(function () {
        $.ajax({
            url: '/user/login',
            data: $('#loginForm').serialize(),
            type: 'post',
            dataType: 'json',
            success: function (resp) {
                if (resp.status == 1) {
                    bzUtil.setTimeAlert('登录成功',callback);
                }
                if (resp.message) {
                    bzUtil.setTimeAlert(resp.message);
                }
            }
        });

    });
</script>
</body>
</html>