
<div class="col-md-12" >
    <span class="col-md-2 col-md-offset-1">
        <a class="btn btn-primary btn-radius" href="/questionnaire/create">
            <i class="glyphicon glyphicon-plus"></i>新增评估项目
        </a>
    </span>
</div>
<div class="col-md-10 col-md-offset-1" style="margin-top: 15px">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>评估项目</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="list" item="vo" >
            <tr>
                <td><a href="/questionnaire/wenjuan/id/{$vo.wj_id}/care_id/{$care_id}" style="text-decoration:none">{$vo.wj_name}</td>
                <td>
                    <a href="/questionnaire/edit/id/{$vo.wj_id}" class="btn btn-primary radius" style="text-decoration:none">修改</a> &nbsp;&nbsp;
                    <a  class="btn btn-default " onclick="delWj({$vo.wj_id})">删 除</a>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>


<script>
    function delWj(id) {
        if(confirm("确认删除?")){
            $.ajax({
                url:'/questionnaire/delete',
                type:'post',
                data:'wj_id='+id,
                dataType:'json',
                success:function(resp){
                    if(resp){
                        location.href='/questionnaire';
                    }
                }
            });
        }
        
    }
</script>
